/* product_style/product-details-style.css */

body {
    background-color: #f4f4f4;
    /* Light background color for the body */
    font-family: 'Roboto', sans-serif;
    /* Clean and modern font */
    margin: 0;
    padding: 0;
}

.site-content {
    background-color: rgba(194, 195, 187, 0.945);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product-details-container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #d8d8d8;
    /* Light background color for the container */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
}

.product-details-image {
    max-width: 100%;
    height: auto;

    border-radius: 8px;
    /* Ensure image is responsive and has rounded corners */
    margin-bottom: 20px;
}

.product-details-title {
    font-size: 2em;
    color: #282727;
    /* Title color */
    margin: 20px 0;
}

.product-details-description {
    font-size: 1.2em;
    color: #6d7879;
    /* Description color */
    margin: 10px 0;
}

.product-details-price {
    font-size: 1.3em;
    color: #282727;
    /* Price color */
    margin: 20px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .product-details-container {
        padding: 15px;
    }

    .product-details-title {
        font-size: 1.5em;
    }

    .product-details-description {
        font-size: 1em;
    }

    .product-details-price {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .product-details-container {
        padding: 10px;
    }

    .product-details-title {
        font-size: 1.2em;
    }

    .product-details-description {
        font-size: 0.9em;
    }

    .product-details-price {
        font-size: 1em;
    }
}